body{
    background-color: #fff;
}

#coment input {
    border: 0;
    height: 40px;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    background-color:transparent !important;
}

#coment input:focus {
    border-bottom: 1px solid #212529;
    box-shadow: none;
    outline: 0;
    transition: 0.5s;
}
.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
